md-checkbox.md-checked .md-icon {
	background-color: rgb(33, 150, 243);
    &:after {
        left:6px;
    }
}
md-checkbox {
    cursor:default;
}
md-checkbox .md-icon {
    border-width: 1px;
    border-radius: 3px;
}
