
.grid {
    // height: 250px;
  }

.ui-grid {
    box-shadow: 1px 0 5px #ccc;
    .ui-grid-cell-contents {
        span.ui-grid-invisible {
            display: none;
        }
    }
    .ui-grid-viewport , .ui-grid-header-viewport{
        max-width: 100% !important;
    }

    .watermark {
        position: absolute;
        top: 50%;                    
        transform: translateY(-50%); 
        opacity: 0.25;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }
    .loading-circular {
        position: absolute;
        top: calc(50% - 20px); 
        left:50%;
    }

    .ui-grid-top-panel {
        background: none #f3f3f3;
    }
        
    &.loading .ui-grid-viewport {
        opacity: 0.5;
    }

    .ui-grid-cell-contents {
        height: 29px!important;
    }


}
hmx-grid > div {
    height: auto !important;
    max-height: 250px;
}
.ui-grid-header-canvas {
    height: 30px !important
}
.ui-grid-contents-wrapper, .ui-grid-render-container-body .ui-grid-viewport {
    height: auto !important;
    max-height: 250px;
}


.ui-grid-render-container-left .ui-grid-viewport {
    max-height: 250px;
}


